@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background: #001220;
}

.kesha-cover {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kesha-cover .half-cut-blue {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #001220;
}

.kesha-cover .bot-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9;
}

.kesha-cover .bot-avatar h1 {
  color: #fff;
  font-size: 2rem;
}

.kesha-cover .bot-avatar .avatar-frame {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 15px solid #001220;
  background: #02101b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 315px) {
  .kesha-cover .bot-avatar .avatar-frame {
    width: 250px;
    height: 250px;
  }
}

.kesha-cover .bot-avatar .avatar-frame .blank {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.kesha-cover .bot-avatar .avatar-frame img {
  width: auto;
  height: 100%;
}

.kesha-cover #visual {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
}

.kesha-cover .mouse-scroll {
  z-index: 9;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-animation-name: mouseAnimate;
          animation-name: mouseAnimate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes mouseAnimate {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes mouseAnimate {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

::-moz-selection {
  background: #fbae3c;
  color: #000;
}

::selection {
  background: #fbae3c;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fbae3c;
}

::-webkit-scrollbar-track {
  background-color: #151515;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=style.css.map */